.left-panel {
  background: rgb(18, 52, 77);
  border-right: 2px solid rgba(18, 52, 77, 0.05);
  width: 380px;
  border-radius: 8px 0px 0px 8px;
}

.end-panel {
  padding: 8px 0 8px 16px;
  gap: 8px;
  border-top: 1px solid #447093;
}

.right-panel {
  width: 100%;
}

.title {
  padding: 16px;
  color: white;
  font-family: 'SF Pro Text', sans-serif;
}

.main-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #fff;
}

.sub-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #bedbf5;
}

.end-title {
  font-size: 11px;
  line-height: 20px;
  color: #fff
}

.left-container {
  padding: 16px;
  width: 100%;
  flex-grow: 1;
}

.commandbar {
  width: 90%;
}

.commandbar-button {
  font-family: "SF Pro Text", sans-serif;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2px solid transparent;
  height: fit-content;
  padding: 10px 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  width: 100%;
}

button:hover {
  background: rgb(91, 140, 175, 0.9);
}

button:focus {
  color: rgb(18, 52, 77);
  background: rgb(255, 255, 255);
  border: 2px solid rgb(187, 220, 254);
  height: fit-content;
}

.anchor-tag {
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  color: #bbdcfe;
}

.right-content {
  height: 327px;
  transition: height 0.1s ease-out 0s;
  border: none;
  border-radius: 0px;
  margin-top: 0px;
  background: none;
}

.containers-list {
  min-height: 520px;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.group-title {
  color: rgb(87, 108, 125);
  margin-left: 12px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgb(255, 255, 255);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-group-item {
  border: none;
  background: none;
  border-radius: 0;
  padding: 6px 10px;
  font-weight: 400;
  color: rgb(59, 72, 83);
  border-left: 4px solid transparent;
}

.list-group-item:hover {
  border-left: 4px solid blue;
  background: rgba(247, 247, 247, 1);
  transition: background-color 0.3s ease 0s;
}

.material-icons {
  margin-right: 5px;
}

.list-style {
  padding-top: 4px;
  margin-top: 4px;
}

.search-btn,
.bb {
  border-bottom: 1px solid rgba(18, 52, 77, 0.1);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  cursor: text;
  width: 100%;
}

.search-bar input {
  height: 20px;
  min-width: 2px;
  border: 0px;
  width: 100%;
  color: rgb(18, 52, 77);
  transition: none 0s ease 0s !important;
  box-shadow: none !important;
  background: none !important;
}

.right-footer {
  background-color: rgb(207, 215, 223);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 2px 4px;
  color: rgb(18, 52, 77);
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  position: relative;
  top: 43vh;
  left: 95%
}

::placeholder {
  color: grey;
  font-family: "SF Pro Text", sans-serif;
  font-size: 1.2rem;
  opacity: 1;
}

.not-found {
  margin-left: 15px;
}

.list-style .place-last {
  color: grey;
  margin-left: auto;
}

.list-style p.place-last {
  padding: 2px 4px;
  border-style: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(207, 215, 223);
}
