<div class="d-flex">
  <!-- LEFT  PANEL -->
  <div class="d-flex flex-column justify-content-between left-panel">
    <!-- left-title -->
    <div class="d-flex align-items-center title">
      <img src="../assets/svg/rocket.svg" alt="" />
      <div class="d-flex flex-column" style="margin-left: 8.5px; padding: 0">
        <span class="main-title">Launchpad</span>
        <span class="sub-title">Discover your Freshsales</span>
      </div>
    </div>

    <!-- left-content -->
    <div class="d-flex left-container">
      <div class="commandbar d-flex flex-column">
        <button (click)="containerSelectAll()" class="commandbar-button">
          <span class="commandbar-span">All</span>
        </button>
        <div *ngFor="let name of buttons; let i = index">
          <button (click)="containerSelect(i)" class="commandbar-button">
            <span class="commandbar-span">{{ name }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- left-footer-->
    <div class="d-flex align-items-center end-panel">
      <span class="end-title">Need more help?</span>
      <div class="d-flex align-items-center" style="padding: 0; gap: 8px">
        <a href="#" class="anchor-tag">Schedule a 1 : 1</a>
      </div>
    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="right-panel">
    <!-- search bar -->
    <div class="input-group search-btn">
      <div class="search-bar">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input
          type="search"
          class="form-control"
          placeholder='Try "connect email"'
          [(ngModel)]="searchedText"
          (ngModelChange)="filterResults()"
        />
      </div>
    </div>

    <!-- right-content -->
    <div class="right-content">
      <div class="containers-list">
        <!-- container-1 -->
        <ng-container *ngIf="all === true || id === 0">
          <span class="group-title">Set up your CRM</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">contacts</i>Import
              contacts
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">email</i>Connect your
              email
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">currency_exchange</i>Add your
              first deal
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">forward_to_inbox</i>Send your
              first email
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">lan</i>Automate
              processes using workflow
            </li>
            <li class="list-group-item">
              <span>
                <i class="material-icons" aria-hidden="true">person_outline</i>Invite your
                team</span
              >
            </li>
          </ul>
        </ng-container>
        <!-- container-2 -->
        <ng-container *ngIf="all === true || id === 1">
          <span class="group-title">Marketplace apps</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">receipt_long</i>Accounting
              and invoicing
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true"></i>Data sync
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true"></i>Files and
              proposals
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true">group_add</i>Collaboration
            </li>
            <li class="list-group-item">
              <span>
                <i class="material-icons" aria-hidden="true">face</i>Customer
                support</span
              >
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true" >account_circle</i>Contacts,
              email, and calendar
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true"></i>Lead
              generation
            </li>
            <li class="list-group-item">
              <i class="material-icons" aria-hidden="true" >extension</i>More apps
            </li>
          </ul>
        </ng-container>
        <!-- container-3 -->
        <ng-container *ngIf="all === true">
          <span class="group-title">Recommended for you</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Import
              contacts
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              sequence
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Build your
              deal pipeline
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create work
              flow
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Invite your
              team
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Connect your
              email and calendar
            </li>
          </ul>
        </ng-container>
        <!-- container-4 -->
        <ng-container *ngIf="all === true || id === 3">
          <span class="group-title">Generate More Leads</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Integrate
              webforms
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Track your
              website
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Import
              contacts
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Connect your
              email and calendar
            </li>
          </ul>
        </ng-container>
        <!-- container-5 -->
        <ng-container *ngIf="all === true || id === 4">
          <span class="group-title">Engage with contacts</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Send Mail
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              sequence
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Score your
              contatcs
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Set up phone
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i> Send SMS
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              activity
            </li>
          </ul>
        </ng-container>
        <!-- container-6 -->
        <ng-container *ngIf="all === true || id === 5">
          <span class="group-title">Manage your deals</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Build your
              deal pipeline
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              quotes
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Set quotas
              for your team
            </li>
          </ul>
        </ng-container>
        <!-- container-7 -->
        <ng-container *ngIf="all === true || id === 6">
          <span class="group-title">Measures sales performance</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>View sales
              dashboard
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              report
            </li>
          </ul>
        </ng-container>
        <!-- container-8 -->
        <ng-container *ngIf="all === true || id === 7">
          <span class="group-title">Automate your work</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create work
              flow
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create
              auto-assignment rule
            </li>
          </ul>
        </ng-container>
        <!-- container-9 -->
        <ng-container *ngIf="all === true || id === 8">
          <span class="group-title">Admin Settings</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Invite your
              team
            </li>
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Manage roles
              and permissions
            </li>
          </ul>
        </ng-container>
        <!-- container-10 -->
        <ng-container *ngIf="all === true || id === 9">
          <span class="group-title">Recents</span>
        </ng-container>
        <!-- container-11 -->
        <ng-container *ngIf="id === 2">
          <span class="group-title">Generate More Leads</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Import
              contacts
            </li>
            <li class="list-group-item bb">
              <i class="fa fa-address-book" aria-hidden="true"></i>Connect your
              email and calendar
            </li>
          </ul>

          <span class="group-title">Engage with contacts</span>
          <ul class="list-group">
            <li class="list-group-item bb">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create sales
              sequence
            </li>
          </ul>

          <span class="group-title">Manage your deals</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Build your
              deal pipeline
            </li>
          </ul>

          <span class="group-title">Automate your work</span>
          <ul class="list-group">
            <li class="list-group-item bb">
              <i class="fa fa-address-book" aria-hidden="true"></i>Create work
              flow
            </li>
          </ul>

          <span class="group-title">Admin Settings</span>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-address-book" aria-hidden="true"></i>Invite your
              team
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <!-- right-footer -->
    <div class="d-flex align-items-center">
      <div class="right-footer"><span>Ctrl+</span><span>K</span></div>
    </div>
  </div>
</div>
